@import "../../../common/styles/sass/variables";

.skillContainer {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
    font: 400 16px/1.8 'Josefin Sans', sans-serif;
    .icon {
        height: 70px;
        width: 70px;
        background-size: cover;
        background-position: center;
    }
    h3 {
        font-size: 18px;
        line-height: 1.2;
        color: $textColor;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .description {
        font-family: 'Open Sans', sans-serif;
        color: $textDescriptColor;
        margin: 0;
    }
}