@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.projectsBlock {
  background-color: $bgColor;
  padding: 100px 0;
  .projectsContainer {
    @include container();
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    .projects {
      width: 100%;
      //grid-gap: 20px;
      //display: grid;
      //gap: 20px;
      //grid-template-columns: repeat(auto-fit,minmax(300px,auto));
      //margin-top: 30px;
      //width: 100%;
      //@media screen and (max-width: 1129px) {
      //  justify-content: center;
      //}
      .mySwiper {

      }
    }
  }
}