.contactsBlock {
    background-color: #c59fae;
}

.container {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: #c3ecec;
}

.contactForm {
    width: 50%;
    background-color: #fff9c0;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contactForm input,.contactForm textarea {
    width: 100%;
}
/*.input {*/
/*    width: 100%;*/
/*    height: 15%;*/
/*}*/
/*.textArea {*/
/*    height: 70%;*/
/*}*/

.button {
    /*width: 150px;*/
    /*height: 40px;*/
    padding: 10px 20px;
    background-color: gray;
}

@media screen and (max-width: 360px){
    .contactForm {
        width: 100%;
    }
}