@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.contactsBlock {
    background-color: $bgColor;
    padding: 100px 0;
}

.container {
    @include container();
    flex-direction: column;
    justify-content: flex-start;
    font: 400 16px/1.8 'Josefin Sans', sans-serif;
    span {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $textSecondColor;
    }
    h2 {
        font-size: 30px;
        text-transform: uppercase;
        position: relative;
        font-weight: 700;
        letter-spacing: 2px;
        color: $textColor;
        line-height: 1.2;
        margin-top: 10px;
        margin-bottom: 60px;
        &::after {
            @include underTitleLine(-30px);
        }
    }
    .contactForm {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        input, textarea {
            margin: 10px;
            width: 100%;
            background: $bgSecondColor;
            padding: 15px 30px;
            height: auto;
            color: $textColor;
            font-family: 'Open Sans', sans-serif;
            overflow: hidden;
            border: 1px solid #3b3e3e;
            border-radius: 2px;
            transition: all 0.3s ease-in-out 0s;
            font-size: 1rem;
            line-height: 1.5;
            resize: none;
        }
        .submitBtn {
            margin: 20px;
            padding: 12px 50px;
            font-size: 12px;
            letter-spacing: 2px;
            color: $textColor;
            text-transform: uppercase;
            background-color: #fd735a;
            border: 1px solid transparent;
            border-radius: 2px;
            min-width: 140px;
            line-height: 1.5;
            cursor: pointer;
            transition: all 0.5s;
        }
    }

}



