.contactsBlock {
    height: 100vh;
    background-color: #c59fae;
}

.container {
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40%;
    border: 1px solid;

}
.input {
    height: 15%;
}
.textArea {
    height: 70%;
}
.button {
    width: 150px;
    height: 40px;
}