.project {
    background-color: #fde0e0;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;

}

.imageContainer {
    height: 200px;
    width: 300px;
    background-color: #c3ecec;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;

}

.button {

}

.title {
    align-self: flex-start;
    background-color: #c3ecec;
    margin-left: 20px;
}

.description {
    background-color: #c3ecec;
    margin-left: 20px;

}