@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
    @include position(flex, column, flex-start, 100%);
    box-sizing: border-box;
    background-color: rgba(30,30,30,.6);
    max-width: 450px;
    border-radius: 2px;
    border: 1px solid #3b3e3e;
    font: 400 16px/1.8 'Josefin Sans', sans-serif;
    margin: 0 0 20px 0 ;
    .imageContainer {
        @include position(flex, column, center, 100%);
        justify-content: center;
        height: 300px;
        background-size: cover;
        background-position: center;
        position: relative;
        &::before {
            @include opacityRegulation(0.3);
        }
    }
    .pojectTitle {
        font-size: 18px;
        line-height: 1.2;
        color: $textColor;
        font-weight: 500;
        align-self: flex-start;
        margin-left: 20px;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }
    .description {
        font-family: 'Open Sans', sans-serif;
        color: $textDescriptColor;
        padding-left: 20px;
        padding-bottom: 20px;
        margin: 0;
    }
}



