.mainBlock {
    height: 100vh;
    background-color: #efd1ef;
}

.text {
    width: 300px;
    background-color: thistle;

}

.photo {
    width: 300px;
    height: 400px;
    background-color: thistle;
}