@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footerBlock {
    background-color: $bgSecondColor;
    min-height: 200px;
    font: 400 16px/1.8 'Josefin Sans', sans-serif;
    position: relative;
    &::before {
        @include underTitleLine(-30pxpx);
    }
    .container {
        @include container();
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
        padding: 50px 0 20px;
        .myLinks {
            width: 400px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            @media screen and (max-width: 505px) {
                width: 100%;
            }
            .myLink {
                height: 40px;
                width: 40px;
                cursor: pointer;
                @media screen and (max-width: 380px) {
                    width: 30px;
                    height: 30px;
                }
                &:hover {
                    transition: all 0.3s ease-in-out 0s;
                    filter: saturate(300%);
                }
                a {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        };
        .copyright {
            color: #6e7373;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
        }
    }
}



